.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $main-spacing * 4;
    h3 {
        width: 100%;
        text-align: center;
        padding-bottom: $main-spacing * 4;
    }
    .button:first-of-type {
        margin-right: $main-spacing * 8;
    }
}