$color-text-primary: #222222;
$color-text-secondary: #A0A0A0;
$color-highlight-light: #FFC53D;
$color-highlight-dark: #FF9A3D;
$color-background: #FAFAFF;
$color-gradient: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
$color-white: #FFFFFF;

$main-width: 1440px;
$main-spacing: 10px;