.banner {
    width: 100%;
    height: 585px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > img:first-of-type {
        position: absolute;
        margin: 0 auto;
        z-index: -2;
    }
    & > img:last-of-type {
        position: absolute;
        margin: 0 auto;
        mix-blend-mode: lighten;
        z-index: -1;
    }
    h1 {
        color: $color-highlight-light;
    }
    h3 {
        color: #fff;
        margin: $main-spacing * 2 0;
    }
}