.contact-info {
    background-color: $color-highlight-dark;
    padding: $main-spacing * 4;
    color: $color-white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}